(
    id: "basic_processing",
    name: "Basic Processing",
    category: Processing,
    tier: 1,
    rarity: Common,
    prerequisites: [
        "basic_smelting",
    ],
    primary_unlock: ResearchSpend(
        type_id: "material",
        amount: 150,
    ),
    effects: [
        UnlockMachine("wire_drawer"),
        UnlockRecipes([
            "make_circuit",
            "make_assembler",
            "analyze_circuit",
            "make_wire_drawer",
        ]),
        UnlockRecipeTemplate("draw_metal"),
    ],
    exclusive_group: None,
)
